.register {
    width: 100%;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
        rgb(255, 255, 255, 0.5), 
        rgb(255, 255, 255, 0.5)), 
        url("../img/teahub.io-engineering-wallpaper-356442.png");
    background-size: cover;
}

.register-title {
    font-size: 50px;;
}

.register-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.register-form > label {
    margin: 10px 0;
}

.register-input {
    padding: 10px;
    background-color: white;
    border: none;
}

.register-button {
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.register-login-button {
    position: absolute;
    top: 100px;
    right: 20px;
    padding: 10px;
    color: white;
    background-color: lightcoral;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 20px;
}