.logout {
    margin-top: 20px;
    width: 100px;
    height: 40px;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border: none;
    background-color: inherit;
}

.logout:hover {
    background-color: #1888ff;
    border-radius: 4px;
    transition: all 0.2s ease-out;
  }