.App {
  text-align: center;
  background-color:whitesmoke;
}

.navbar {
  width: 100%;
}

.myContent {
  margin: 20px;
  padding: 20px;
  color: white;
  background: url('./img/circuit.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

.myContent>iframe {
  height: 500px;
  width: 750px;
  aspect-ratio: attr(width) / attr(height);
  width: 50em;
  height: 30em;
}

.footer {
  margin: 10px 0px 0px 0px;
  padding: 10px;
  background: black;
  color: white;
}
