.App {
  text-align: center;
  background-color: rgb(205, 209, 212);
}

.myContent {
  margin: 20px;
  padding: 20px;
  
}

.myContent>iframe {
  height: 500px;
  width: 750px;
  aspect-ratio: attr(width) / attr(height);
  width: 50em;
  height: 30em;
}

.footer {
  background: black;
  color: white;
}
